.chat-main
  .chat-header
    .chat-header__group
      = @group.name
      .chat-header__group__member
        - @group.users.each do |user|
          = user.name
    .edit-btn
      .btn
      = link_to edit_group_path(@group) do
        Edit
  .chat-messages
    = render @messages
   
  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'message-input-text', placeholder: 'type a message'
        = f.label :image, class: 'file' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'