.chat-side
  .side-header
    .side-item
      = current_user.name
      .box
        .box-iconA
          = link_to "#", class: "icon" do
            = icon('fas', 'edit')
        .box-iconB
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
  .chat-side__groups
    techcamp
  .chat-side__messages
    まだメッセージはありません